.about-us__container 
{
    display: flex;
    padding: 30px;
    text-align: center;
    justify-content: center;
}

.about-us__information-container
{
    position: relative;
}

.about-us__image
{
    box-shadow: 0 0 12px 12px gray;
}

.about-us__information-storage
{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    align-items: center;
    justify-content: center;
    transition: opacity .2s, visibility .2s;
}

.about-us__information-container:hover .about-us__information-storage
{
    visibility: visible;
    opacity: 1;
}

.about-us__information-header
{
    font-size: 40px;
    transition: .7s;
    transform: translateY(-2em);
}

.about-us__information-text
{
    font-size: 20px;
    transition: .7s;
    transform: translateY(8em);
    padding: 20px;
}

.about-us__information-container:hover .about-us__information-header,
.about-us__information-container:hover .about-us__information-text
{
    transform: translateY(0);
}


