.main-navigation
{
    top: 0;
    left: 0;
    right: 0;
    background: rgb(26, 26, 26, 0.8);
    z-index: 999;
}

.main-navigation__inner
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1350px;
    margin: 0 auto 0 0;
    letter-spacing: 1.5px;
    padding-left: 50px;
}

.main-navigation__mobile-button
{
    display: none;
}

.main-navigation__list
{
    display: flex;
    list-style: none;
    text-transform: uppercase;
    font-weight: 500;
}

.main-navigation__list-item
{
    padding-left: 40px;
}

.main-navigation__list-item-link
{
    text-decoration: none;
    color: #fff;
}

.main-navigation__list-item-link:hover
{
    box-shadow: 0 0 3px 3px green;
    background: green;
}

.main-navigation__button-link
{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 0 10px;
    font-weight: 500;
}

.main-navigation__button-link:hover
{
    box-shadow: 0 0 3px 3px green;
    background: green;
}

.main-navigation__logo-link
{
    width: 200px;
    height: 18px;
}