.container
{
    padding: 30px;
    background: #093028;
    background: -webkit-linear-gradient(to right, #093028, #237a57);
    background: linear-gradient(to right, #093028, #237a57);
    line-height: 1.5;
}

.container-header
{
    font-size: 40px;
    text-transform: uppercase;
    color: #bbb;
    text-align: center;
}

.main-header
{
    font-size: 30px;
    text-transform: uppercase;
    color: #bbb;
}

.lower-header
{
    font-size: 24px;
    color: #bbb;
    text-transform: uppercase;
}

.main-list__item
{
    list-style-type: none;
}

.lower-list
{
    list-style-type: upper-roman;
}

.lower-list__item
{
    font-size: 16px;
}

.list-link
{
    text-decoration: underline;
    color: #000;
    text-transform: uppercase;
}

.list-link:hover
{
    color: #bbb;
    text-decoration: underline;
}

.register-list__item
{
    list-style-type: upper-roman;
    font-size: 16px;
}

.container-lower-header
{
    text-align: center;
}

.rules
{
    text-decoration: none;
    border-bottom: 2px solid #fff;
    color: #bbb;
    font-size: 20px;
    text-transform: uppercase;
    border-top: 2px solid #fff;
    border-radius: 10%;
    padding: 10px;
}
    

.rules:hover
{
    color: #fff;
}