.container
{
    padding: 30px;
    text-align: center;
    justify-content: center;
    background: #093028;
    background: -webkit-linear-gradient(to right, #093028, #237a57);
    background: linear-gradient(to right, #093028, #237a57);
    line-height: 1.5;
}

.container-header
{
    font-size: 40px;
    text-transform: uppercase;
    color: #bbb;
}

.main-header
{
    font-size: 36px;
    text-transform: uppercase;
    color: #bbb;
}

.main-list__item
{
    list-style: none;
}

.list-link
{
    text-decoration: underline;
    color: #000;
    text-transform: uppercase;
}

.list-link:hover
{
    color: #bbb;
    text-decoration: underline;
}

.register-list__item
{
    list-style: none;
    font-size: 20px;
}