.container
{
    padding: 30px;
    background: #093028;
    background: -webkit-linear-gradient(to right, #093028, #237a57);
    background: linear-gradient(to right, #093028, #237a57);
    line-height: 1.5;
    color: #bbb;
    font-size: 17px;
}

.container-header
{
    font-size: 40px;
    text-transform: uppercase;
    color: #bbb;
    text-align: center;
    background: -webkit-linear-gradient(#99ff99, #006600);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-header
{
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
    background: -webkit-linear-gradient(#99ff99, #006600);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.lower-header
{
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;
    background: -webkit-linear-gradient(#99ff99, #006600);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}